.WDataContainer {
	background-color: rgba(200, 200, 200, 0.5);
	width: 400px;
	height: 100px;
	line-height: 100px;
	border-radius: 5px;
	margin: 15px;
}

.WExtraInfoContainer {
	width: 40%;
	display: inline-block;
	line-height: 28px;
	text-align: left;
}

.WTemperature {
	width: 60%;
	display: inline-block;
}

.Temperature {
	font-size: 30px;
	font-weight: bold;
}
.TemperatureType {
	font-weight: bold;
	color: #666;
}

.ExtraInfoText {
	display: block;
	color: slateblue;
	font-size: 16px;
	font-weight: bold;
}

.wicon {
	color: orange;
}
